<ul>
  <li><a href="/users"> Users </a></li>
  <li><a href="/photos"> Photos </a></li>
</ul>

<h1> Photo Details</h1>

<p>Image</p>
<img src="<%=@find_photo.image%>">

<p>Caption</p>
<p><%=@find_photo.caption%>

<p>Owner</p>
<p><%=@owner.username%>

<p>Posted</p>
<p><%=@find_photo.created_at%></p>
